<p id="notice"><%= notice %></p>

<p>
  <b>Department:</b>
  <%= @query.department_id %>
</p>

<p>
  <b>Rent:</b>
  <%= @query.rent %>
</p>


<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>
